@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); // Montserrat , sans-serif
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"); // Playfair Display , serif

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  line-height: 1.5;

  @media screen and (max-width: 61.25em) {
    padding: 0 1.5rem;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

// Buttons
.btn-main {
  padding: 0.5rem 2rem;
  background-color: #f6821f;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5px;
  letter-spacing: 0.6px;
  transition: all 0.3s ease;
  display: block;
  @media screen and (max-width: 48em) {
    padding: 0.3rem 1.5rem;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 29.25em) {
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }
}

.btn-main:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1px 1px rgba($color: #333, $alpha: 0.6);
}

.btn-main:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba($color: #333, $alpha: 0.6);
}

.btn-secondary {
  padding: 1.5rem 2rem;
  outline: none;
  border: 0;
  background-color: #fff;
  border: 2px solid #f6821f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #f6821f;
  cursor: pointer;
  float: right;
  letter-spacing: 0.6px;
  transition: all 0.3s ease;
  @media screen and (max-width: 48em) {
    padding: 1.25rem 1.5rem;
    font-size: 1.6rem;
  }
  @media screen and (max-width: 29.25em) {
    padding: 0.75rem 1rem;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: #f6821f;
    border: 2px solid #f6821f;
    color: #fff;
  }
}

.btn-text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  border-bottom: 2px solid #fff;
  letter-spacing: 0.6px;
  display: inline-block;
  transition: all 0.3s ease;
  @media screen and (max-width: 48em) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 29.25em) {
    font-size: 1.4rem;
  }

  .fas {
    margin-left: 5px;
  }
}

.btn-text:hover {
  color: #f6821f;
  border-bottom: 2px solid #f6821f;
}

// Container

.container {
  max-width: 120.8rem;
  margin: 0 auto;
}

// Navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.4rem 0;
  @media screen and (max-width: 48em) {
    margin: 2rem 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 4.8rem;
      height: 4.8rem;
      margin-right: 0.7rem;
      @media screen and (max-width: 48em) {
        width: 4.4rem;
        height: 4.4rem;
      }
      @media screen and (max-width: 29.25em) {
        width: 3rem;
        height: 3rem;
      }
    }
    span {
      font-weight: 700;
      font-size: 2.2rem;
      color: #333;
      @media screen and (max-width: 48em) {
        font-size: 2rem;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 1.6rem;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;

    &--link:not(:last-child) {
      margin-right: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      @media screen and (max-width: 48em) {
        font-size: 1.4rem;
        margin-right: 1.6rem;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 1.4rem;
        margin-right: 0.8rem;
      }

      a {
        color: #333;
        transition: all 0.3s ease;
        &:hover {
          border-bottom: 1px solid #f6821f;
          color: #f6821f;
        }
      }
    }

    &--link:last-child {
      margin-left: 2rem;
      @media screen and (max-width: 48em) {
        margin-left: 1rem;
      }
      @media screen and (max-width: 29.25em) {
        margin-left: 0.4rem;
      }
    }
  }
}

// Header hero

.hero {
  background-color: #3e5eab;
  padding: 6.5rem 20rem;
  color: #fff;
  margin-bottom: 6rem;
  @media screen and (max-width: 61.25em) {
    padding: 5.5rem 17.5rem;
  }
  @media screen and (max-width: 48em) {
    padding: 3.5rem 12.5rem;
    margin-bottom: 4rem;
  }
  @media screen and (max-width: 29.25em) {
    height: 60vh;
    padding: 2rem 3.5rem;
    display: flex;
    align-items: center;
  }

  &__content {
    padding: 4rem 5rem;
    border: 5px solid #fff;
    @media screen and (max-width: 61.25em) {
      padding: 3.5rem 4.5rem;
    }
    @media screen and (max-width: 48em) {
      padding: 2.5rem 3.5rem;
    }
    @media screen and (max-width: 29.25em) {
      padding: 2rem 3rem;
    }

    &--heading {
      font-family: "Playfair Display", serif;
      line-height: 50px;
      width: 85%;
      margin-bottom: 2rem;
      font-size: 4.2rem;

      @media screen and (max-width: 61.25em) {
        font-size: 4rem;
      }
      @media screen and (max-width: 48em) {
        font-size: 3rem;
        line-height: 35px;
        margin-bottom: 1.5rem;
        width: 90%;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 2.2rem;
        line-height: 30px;
        margin-bottom: 1.25rem;
        width: 100%;
      }
    }
  }
}

// Services Section

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.5rem;
  margin-bottom: 6rem;

  @media screen and (max-width: 61.25em) {
    gap: 4.5rem;
  }
  @media screen and (max-width: 48em) {
    margin-bottom: 4rem;
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 29.25em) {
    gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    border: 1px solid #ededed;
    @media screen and (max-width: 61.25em) {
      padding: 2.5rem;
    }
    @media screen and (max-width: 48em) {
      padding: 2rem;
    }
    @media screen and (max-width: 29.25em) {
      padding: 1rem;
    }

    .fas {
      color: #3e5eab;
      margin-bottom: 1rem;
    }
    &--heading {
      line-height: normal;
      font-weight: 600;
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
      @media screen and (max-width: 48em) {
        font-size: 2rem;
        margin-bottom: 1.25rem;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 1.8rem;
      }
    }
    &--details {
      font-size: 1.6rem;
    }
  }
}

.our-services {
  text-align: center;
  font-size: 3.4rem;
  color: #333;
  font-family: "Playfair Display", serif;
  margin-bottom: 6rem;

  @media screen and (max-width: 48em) {
    margin-bottom: 4rem;
    font-size: 3rem;
  }
  @media screen and (max-width: 29.25em) {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
}

// ISO Section

.iso {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  &__content {
    padding: 6.5rem;
    background-color: #ededed;

    @media screen and (max-width: 61.25em) {
      padding: 5rem;
    }
    @media screen and (max-width: 48em) {
      padding: 3.5rem;
    }
    @media screen and (max-width: 29.25em) {
      padding: 2.5rem;
    }

    &--heading {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
      line-height: normal;

      @media screen and (max-width: 61.25em) {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 48em) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 1.8rem;
      }
    }
    &--details,
    &--certificates {
      font-size: 1.6rem;
      @media screen and (max-width: 29.25em) {
        font-size: 1.4rem;
        line-height: 1.7;
      }
    }
  }

  &__image {
    img {
      height: 100%;
      width: 100%;
    }
  }
}

// business development

.business {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8rem;

  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    display: none;
  }

  &__content {
    padding: 6.5rem;
    background-color: #ededed;

    @media screen and (max-width: 61.25em) {
      padding: 5rem;
    }
    @media screen and (max-width: 48em) {
      padding: 3.5rem;
    }
    @media screen and (max-width: 29.25em) {
      padding: 2.5rem;
    }

    &--heading {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
      line-height: normal;
      @media screen and (max-width: 61.25em) {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 48em) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 29.25em) {
        font-size: 1.8rem;
      }
    }
    &--details,
    &--certificates {
      font-size: 1.6rem;
      @media screen and (max-width: 29.25em) {
        font-size: 1.4rem;
        line-height: 1.7;
      }
    }
  }

  &__image {
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.business.mobile {
  display: none;

  @media screen and (max-width: 48em) {
    display: block;
  }
  @media screen and (max-width: 29.25em) {
    display: block;
    margin-bottom: 3rem;
  }
}

// Snibzu CTA Section
.snibzu {
  padding: 5rem 4rem;
  background-color: #3e5eab;
  color: #fff;
  @media screen and (max-width: 61.25em) {
    padding: 4rem 3.5rem;
  }
  @media screen and (max-width: 48em) {
    padding: 3rem 2.5rem;
  }
  @media screen and (max-width: 29.25em) {
    padding: 2.5rem 2rem;
  }

  &__cta {
    font-family: "Playfair Display", serif;
    font-size: 3.4rem;
    @media screen and (max-width: 61.25em) {
      font-size: 3rem;
    }
    @media screen and (max-width: 48em) {
      font-size: 2.4rem;
    }
    @media screen and (max-width: 29.25em) {
      font-size: 1.8rem;
    }

    a {
      color: #f6821f;
      border-bottom: 2px solid #f6821f;

      .fas {
        margin-left: 5px;
      }
    }
  }
}

// Footer

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  line-height: normal;

  @media screen and (max-width: 48em) {
    flex-direction: column;
    padding: 3.5rem;
  }

  .copyright {
    font-size: 1.2rem;
    @media screen and (max-width: 48em) {
      margin-bottom: 1.5rem;
    }
  }
  .snibzu-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: normal;
    @media screen and (max-width: 48em) {
      margin-bottom: 1.5rem;
    }

    .name {
      font-size: 1.6rem;
      color: #f6821f;
      font-weight: 600;
      @media screen and (max-width: 61.25em) {
        font-size: 1.4rem;
      }
    }
    .slogan {
      font-size: 1.2rem;
      color: #3e5eab;
      @media screen and (max-width: 61.25em) {
        font-size: 1rem;
      }
    }
  }

  .social a:not(:last-child) {
    margin-right: 1rem;
  }
  .social {
    .fa-facebook-square {
      color: #1877f2;
    }
    .fa-linkedin {
      color: #0e76a8;
    }
    .fa-twitter-square {
      color: #00acee;
    }

    .fab {
      transition: all 0.3s ease;
    }
    .fab:hover {
      opacity: 0.8;
      transform: translateY(-3px);
    }
  }
}

// // // // //
// About.html Page & Contact.html Page Styling

.about-us,
.contact-us {
  margin: 6rem 0;
  padding: 7rem 5rem;
  background-color: #3e5eab;
  color: #fff;
  @media screen and (max-width: 61.25em) {
    padding: 5.5rem 4rem;
  }
  @media screen and (max-width: 48em) {
    padding: 4.5rem 3.5rem;
    margin: 4.5rem 0;
  }
  @media screen and (max-width: 29.25em) {
    padding: 3.5rem 2.5rem;
    margin: 3.5rem 0;
  }

  &__heading {
    font-family: "Playfair Display", serif;
    font-size: 3.4rem;
    line-height: normal;
    font-weight: 700;
    @media screen and (max-width: 61.25em) {
      font-size: 3.2rem;
    }
    @media screen and (max-width: 48em) {
      font-size: 3rem;
    }
    @media screen and (max-width: 29.25em) {
      font-size: 2.6rem;
    }
  }
  &__slogan {
    font-size: 1.6rem;
    @media screen and (max-width: 29.25em) {
      font-size: 1.4rem;
    }
  }
}

// About Section

.about {
  margin-bottom: 6rem;
  @media screen and (max-width: 48em) {
    margin-bottom: 4rem;
  }
  @media screen and (max-width: 29.25em) {
    margin-bottom: 3rem;
  }
  &__heading {
    font-size: 4.2rem;
    line-height: normal;
    font-family: "Playfair Display", serif;
    margin-bottom: 2rem;
    width: 70%;
    @media screen and (max-width: 61.25em) {
      font-size: 4rem;
    }
    @media screen and (max-width: 48em) {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
      width: 80%;
    }
    @media screen and (max-width: 29.25em) {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      width: 90%;
    }
  }

  &__details {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 48em) {
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 29.25em) {
      margin-bottom: 1rem;
    }
  }

  &__image {
    width: 100%;
    height: 60rem;
    object-fit: cover;
    @media screen and (max-width: 48em) {
      height: 45rem;
    }
    @media screen and (max-width: 29.25em) {
      height: 30rem;
    }
  }
}

// Contact Page
.send-message {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  @media screen and (max-width: 29.25em) {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

// Form Section

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 10rem;
  @media screen and (max-width: 61.25em) {
    gap: 4rem;
  }
  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
    margin-bottom: 6rem;
  }
  @media screen and (max-width: 29.25em) {
    margin-bottom: 4rem;
    gap: 3rem;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width: 29.25em) {
        display: none;
      }
    }
  }

  &__container {
    form {
      div:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      .name,
      .email,
      .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        label {
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: 0.5px;
          margin-bottom: 1rem;
          line-height: normal;
        }
        @media screen and (max-width: 29.25em) {
          font-size: 1.4rem;
        }

        input {
          outline: none;
          padding: 1rem;
          font-size: 1.6rem;
          width: 100%;
          border: 1px solid #c4c4c4;
          border-radius: 5px;
          color: #333;
          font-family: "Montserrat", sans-serif;
          @media screen and (max-width: 29.25em) {
            font-size: 1.4rem;
          }

          &:focus {
            border: 1px solid #f6821f;
          }
        }
        textarea {
          outline: none;
          resize: none;
          padding: 1rem;
          font-size: 1.6rem;
          width: 100%;
          border: 1px solid #c4c4c4;
          border-radius: 5px;
          color: #333;
          font-family: "Montserrat", sans-serif;
          @media screen and (max-width: 29.25em) {
            font-size: 1.4rem;
          }

          &:focus {
            border: 1px solid #f6821f;
          }
        }
      }
    }
  }
}

// connect section

.connect {
  padding: 7rem 5rem;
  background-color: #ededed;
  margin-bottom: 25rem;

  @media screen and (max-width: 61.25em) {
    padding: 5.5rem 4rem;
    margin-bottom: 20rem;
  }
  @media screen and (max-width: 48em) {
    padding: 4rem 3.5rem;
    margin-bottom: 15rem;
  }
  @media screen and (max-width: 29.25em) {
    padding: 3rem 2.5rem;
    margin-bottom: 10rem;
  }
  &__heading {
    font-family: "Playfair Display", serif;
    font-size: 3.4rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 61.25em) {
      font-size: 3.2rem;
      margin-bottom: 2.6rem;
    }
    @media screen and (max-width: 48em) {
      font-size: 2.8rem;
      margin-bottom: 2.2rem;
    }
    @media screen and (max-width: 29.25em) {
      font-size: 2.4rem;
      margin-bottom: 1.8rem;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    @media screen and (max-width: 48em) {
      flex-wrap: wrap;
    }

    h3 {
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      @media screen and (max-width: 61.25em) {
        font-size: 1.6rem;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 1.7;
    }
    address {
      font-size: 1.4rem;
      width: 60%;
    }
    a {
      color: #3e5eab;
      font-size: 1.4rem;
    }

    .media {
      &__social a:not(:last-child) {
        margin-right: 1rem;
      }
      &__social {
        .fa-facebook-square {
          color: #1877f2;
        }
        .fa-linkedin {
          color: #0e76a8;
        }
        .fa-twitter-square {
          color: #00acee;
        }
        .fab {
          transition: all 0.3s ease;
        }
        .fab:hover {
          opacity: 0.8;
          transform: translateY(-3px);
        }
      }
    }
  }
}
